@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap');

.ps_wrapper{
    height: min-content;

    max-width: 1360px;

    border: 1px solid transparent;

    margin: 0 auto;
    padding: 0 50px;

    display: flex;
    flex-direction: column;

}

.ps_wrapper h2{
    font-size: 32px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.34;
    letter-spacing: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #f58220;
    margin-left: 50px;

}



.swipe_wrapper{
    height: 50vh;
    height: max-content;

    margin: 10px 0 0 0 ;

    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;

}

.product_card{
    width: 100px;
}



.product_swiper{
    border: 1px solid black;
    margin: 0 5px;
}



.container{

    display:flex ;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;

}


.slide{
    display: flex;
    align-items: center;
}



.swp_btn{
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;

    margin: 0 7px;
}

.swp_btn:hover{
    background: #f58220;
    cursor: pointer;
}

.pagination{
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-family: 'Comfortaa';

    color: #f58220;
}
.page-item.current a{
    background: #e7e7e7;
}


@media screen and (max-width: 916px) {

    .swp_btn{
        display: none;
    }
    .ps_wrapper{
        padding: 0px;
    }

}








