.mainNav_wrapper{
    width: calc(100% - 100px);
    height: 13.5vh;
    height: max-content;
    display: flex;
    flex-direction: row;
    max-width: 1500px;

    align-items: center;
    justify-content: center;
    padding: 10px 50px;

    margin: 0px auto;

    background: white;

    border-bottom: 0px solid #D9D9D9;

}



.mainNav_wrapper a{
    color: #4f4f4f;
    text-decoration: none;

}

.mainNav_wrapper a:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

.home_img{
    width: 100px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.home_img img{
    width: 100px;

}

.search_wrapper{
    width: 59%;
    height: 81%;
    padding-top: 25px;
    margin: 0 auto;

}

.menu {
    display: none;
}

.menu svg{
    height: 30px;
    width: 30px;
    color: #f58220;
}

.menu svg:hover {
    cursor: pointer;

}






@media screen and (max-width: 1000px) {
    .mainNav_wrapper{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'menu icon profile'
                             'search search search';

        align-items: center;
        justify-content: center;

        padding: 10px;

        width: calc(100% - 20px);
        
    }


    .search_wrapper{
        grid-area: search;
        width: 90%;
    }


    .home_img{
        grid-area: icon;
    }

    .menu {
        display: block;
    }
}

/*400*/
@media screen and (max-width: 350px) {
    .mainNav_wrapper{
        grid-template-columns: auto auto auto;
    }

    .search_wrapper{
        grid-area: search;
        width: 100%;
        max-width: 280px;
    }


    .home_img{
        width: 50px;

    }

    .home_img img {
        display: none;
        width: 50px;

    }

}


@media screen and (max-height: 900px) {
    .search_wrapper{
        padding: 0;
    }

    .home_img img {
        width: 50px;

    }

}

