.product_page_wrapper{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    justify-content: center;

}

.product_list_outer_wrapper{
    width: 60%;
}

.product_list_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.pagination{
    display: flex;
    flex-direction: row;
}

.pagination a{
    padding: 5px;
    border: 1px solid black;
    margin: 0 5px;
}

.pagination .active a{
    background: #59595b;
}

.pagination .disabled{
    display: none;
}

@media screen and (max-width: 1000px) {
    .product_page_wrapper{
        flex-direction: column;
        padding: 0 20px;
    }
    .product_list_outer_wrapper{
        width: 100%;
    }

}
@media screen and (max-width: 750px) {

    .product_page_wrapper{
        flex-direction: column;
        padding: 0;
    }
    .product_list_wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
