/*
    height: 100%;
*/
.product_wrapper{

    border: 1px solid rgba(211, 214, 217, 1);
    border-radius: 20px;

    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.product_wrapper a{
    padding: 10px 10px 0 10px;
    text-decoration: none;

}

.product_wrapper span{

    color: #666;
    font-family: 'Comfortaa';

}


.product_wrapper p{
    height: 42px;
    height: max-content;
    width: calc(100% - 20px);
    margin: 10px auto ;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}


.product_wrapper img{
    width: 100%;
    height: 20vh;
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 0px;

}

.product_header{
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: space-between;
}

.product_header p{
    width: fit-content;
    font-family: "Ubuntu";
    font-size: 14px;
    text-align: start;
    background: #f58220;
    color: #ffffff;
    margin: 10px 0 0 0;
    padding: 5px;
}

.product_header button{
    padding: 0;
    margin: 10px 0 0 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    
}

.product_header svg{
    width: 25px;
    height: 25px;
}



.prd_info{
    height: 20vh;
    height: max-content;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.brand{
    font-weight: 500;
    line-height: 1.34;
    letter-spacing: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #f58220;
    padding: 0;
}


.prd_name{

    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #666;
}

.prd_price_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prd_price{
    font-weight: 400;
    font-family: 'Comfortaa';
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;

}

.prd_price_discount{
    text-decoration: line-through;
}


.product{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prd_rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.prd_btn{
    width: max-content;
    background: #f58220;
    border: 1px solid #f58220;
    border-radius: 30px;
    color: white;
    padding: 10px 30px 10px 30px;
    margin: 5px 0 10px 0;
    
}

.prd_btn:hover{
    background: white;
    color: #f58220;
    cursor: pointer;
}
.prd_end{
    margin: auto 0 0 0 ;
}