.top_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: var(--primary-orange);
    height: 5vh;


    gap: 10px;
}

.free_ship{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.free_ship:hover{
    background: var(--light-orange);
}

.top_wrapper a{
    color: white;
    text-decoration: none;
}

.top_btn{
    margin-right: 20px;

}