.product_page_filter{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    width: 15vw;
    
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
}

.product_page_filter p{
    font-size: 14px;
    font-family: 'Comfortaa';
    font-weight: 700;

    color: #59595b;
    margin: 0;
    width: 100%;

    text-transform: uppercase;
}

.product_page_filter span{
    font-size: 14px;
    font-family: 'Comfortaa';
    font-weight: 700;

    color: #59595b;
    justify-items: flex-end;

    text-transform: uppercase;
}

.product_page_filter label{
    font-size: 12px;
    font-family: 'Comfortaa';
    font-weight: 400;

    color: #59595b;

    text-transform: capitalize;
    cursor: pointer;

}

.product_page_filter input{
    cursor: pointer;

}

.product_page_filter_value{

    margin: 5px 0;
}

.product_page_filter_title{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.product_page_filter_option{
    display: block;
}

.hide{
    display: none;
}


@media screen and (max-width: 1000px) {
    .product_page_filter{
        width: 100%;
        margin: 10px 0;
    }
}