.cart_border{
    border: 1px solid #E7E7E7;
    border-radius: 20px;
}

.cart_grid{
    display: grid;
    grid-template-columns: minmax(0, 0.7fr)  minmax(0, 0.3fr) ;
    height: 5vh;
    min-height: 40px;
}

.cart_header{
    padding:  0 20px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;

}

.order_total{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-top: 1px solid #E7E7E7;

    padding: 0 20px;
}

.order_total p{
    white-space: pre-wrap;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;
}

.order_total span{
    font-weight: 500;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #4f4f4f;
    
}

.order_total_bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reorder_button {
    background: #f58220;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;

    padding: 10px;

    margin: 0 20px 0 0;
}

.reorder_button:hover {
    cursor: pointer;
    background: white;
    border: 1px solid #f58220;
    color: #f58220;
}
.reorder_button_bottom{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 400px) {
    
    .order_total{
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 1100px) {

    .cart_header{
        display: none;
    }

}